@import "tailwindcss";
@plugin 'daisyui';

:root {
  --color-primary: #069406;
}

.glass-bg {
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
